/* css font credit: http://cssfontstack.com/ */

html, body, {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}

#wrapper {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
/*	border: 1px orange solid;
*/}

/*** title at top of page ***/

#title-container {
	position: fixed;
	z-index: 10;
	height: 40px;
	width: 100%;
	margin: 0 auto;
	top: 0px;
/*	box-shadow: 0px 1px 50px #5E5E5E;
*/	background: #262626;
	border-bottom: solid 1px hsla(0, 100%, 100%, 0.3);
}

#title {
	display: inline-block;
	float: left;
}

#title h1 {
	font: 25px/40px "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif; /*"Gill Sans", "Gill Sans MT", Calibri, sans-serif*/  /*'Helvetica Neue', Arial, Helvetica, sans-serif;*/
	text-align: left;
	/*text-transform: capitalize;*/
	letter-spacing: 2px;
	color: #ffffff;
	padding-left: 10px;
}

/*** intro image ***/
#intro-image {
	position: fixed;
	display: block;
	top: 40px;
	width: 100%;
	height: 88%;
	z-index: -1;
    background-position: center;
    background-image:url('../images/view-of-mojave.jpg');
    background-size: cover;
}

#intro-caption {
	position: absolute;
	display: inline-block;
	top: 93%;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 0;	
}

.arrow {
	/*border: 1px solid white;*/
}

.arrow p {
	position: fixed;
	top: 85%;
	left: 50%;
	margin: 0 auto;
	z-index: 50;
	text-align: center;
	color: #fff;
	opacity: 0.5;	
	-webkit-transform: rotate(180deg) scale(8);
	-moz-transform: rotate(180deg) scale(8);
	transform: rotate(180deg) scale(8);
}

.image .call-out {
	position: absolute;
	font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 1px;
	text-align: left;
	font-weight: normal;
	right: 3%;
	bottom: 10%;
	width: 33.3%;
	color: hsla(0, 100%, 100%, 1);

	background-color: hsla(0, 100%, 0%, 0.4);
	padding: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */
}

.image .call-out span#italic {
	font-style: italic;
}

.image .call-out span#aw {
	text-align: right;
	float: right;
	margin-right: 10px;
	margin-top: 20px;
}

/*** container for map and content ***/
#map-content-wrapper {
	position: absolute;
	width: 100%;
	top: 90%;
	background-color: #fff;
}

/*** leaflet map stuff ***/

#map-placeholder {
	height: 100%;
	width: 25%;
	float: left;
	z-index: 6;
	position: absolute;
	background: hsla(0,100%,100%,1);
	border-right: 2px solid hsla(0,100%,100%,1);	
	-moz-transition:all 15s;
	-webkit-transition:all 5s;
	transition:all 2s;
}

.hidden {
	visibility: hidden;
}

#map {
	position: fixed;
  	display: inline-block;	
    height: 100%;
    width: 25%;
    float: left;
    margin: 0px;
  	top: 0px;
  	z-index: -3;
    /*display: inline-block;*/
    border-right: 1px solid hsla(0, 100%, 0%, 0.3);

/*    -webkit-animation: slide-in 2s infinite;
    -moz-animation: slide-in 2s infinite;
    -o-animation: slide-in 2s infinite;
    animation: slide-in 2s infinite;*/
}

-moz-@keyframes slide-in {
	from{z-index: -3;}
	to{z-index: 5;}
}

-webkit-@keyframes slide-in {
	from{z-index: -3;}
	to{z-index: 5;}
}

@keyframes slide-in {
	from{z-index: -3;}
	to{z-index: 5;}
}

.leaflet-popup {
	opacity: 0.4;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
	/*opacity: 0.4;*/
	background: hsla(0,100%,100%,0.7);
}

.leaflet-popup-content {
	text-align: center;
}

.leaflet-popup-content p {
	font-style: italic;
}

/*** content on right side of page ***/

#content-wrapper {
	position: relative;
	display: inline-block;
	float: right;	
	width: 74.9%;
	height: 100%;
	z-index: 0;
/*	border: 1px red solid;*/
	background: white;
	position: relative;
}

/*** each part of story is contained within a chapter ***/

.chapter {
	margin: 0 auto;
	padding: 0;
}

.call-out {
	margin: 0 auto;
}

.call-out p {	
	margin: 0 auto;
	position: relative;
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	font-size: 50px;
	font-weight: normal;
	font-style: italic;
	line-height: 70px;
	letter-spacing: 1px;
	padding: 25px 70px 50px 70px;
	width: 71%;	
}

.content .call-out p {
	font-size: 50px;
	line-height: 70px;
	width: 100%;
	padding: 25px 0 25px 0;
	/*background: hsl(50, 50%, 50%);*/
}

.content .call-out.start p {
	padding: 0 0 25px 0;
}

.image img {
	/* image width in px is 1333px */
	width: 100%;
	height: 90%;
}

.content .image {
	margin-bottom: 25px; 
}

.content .image p {
	font: 15px 'Helvetica Neue', Arial, Helvetica, sans-serif;
	padding-left: 10px;
	padding-right: 10px;
}


.media-container {
	position: relative;
	/*margin-top: -60px;*/
}

.caption {
	position: relative;
	margin: 0;
	top: -4px;
	padding: 5px 0 5px 0;
	background-color: #e5e5e5;
}

.caption p, .content .video p {
	font: 15px 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-style: normal;
	padding-left: 30px;
	padding-right: 30px;
	text-align: left;	
	margin: 0;
}

.video {
	width: 100%;
	height: 90%;
	overflow: hidden;
	vertical-align: top;
	margin: 5em 0;
}

.paused {
	/*background-color: hsla(0,0,0,0.5);*/
}

.content-title {
	font-style: bold;
	padding: 15px 0px 0px 0px;
	margin: 10px auto;
	/*width: 65%;*/
	border-top: 1px dashed black;
	/*background: hsl(172, 100%, 50%);*/
}

.content-title h2 {
	text-transform: uppercase;
	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-weight: bold;
	display: relative;
	padding-bottom: 5px;
}

.content-title h3 {
	top: 0px;
	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
	padding-bottom: 25px;
}

.content {
	padding: 0;
	margin: 0 auto;
	width: 80%;	
	/*border: 1px solid green;*/
}

.content p {
	/*font: 17px/28px "Georgia", serif;*/
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: .3px;
	margin: 0 auto;
/*	background: hsl(120, 100%, 50%);
	border: 1px solid green;*/
}

